@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">INFT4000 - Lab 1 - Keegan Colter</h1>
    <div >
        <p>First Name:</p>
        <p>@Model.FirstName</p>
    </div>
    <br />
    <div>
        <p>Last Name:</p>
        <p>@Model.LastName</p>
    </div>

</div>
